OAuth grant type CBOR value mappings need to be in a registry

As per Mike Jones's comment:

> 5.5.4.2 Figure 8
> These values should be in a registry – possibly called something like “OAuth grant type CBOR value 
> mappings”.  This registry should reference the sections defining these values in RFC 6749 and the
> grant type values defined by RFC 7522 and RFC 7523.