Ref the right sections in 6749

While looking for parameters to use for the ace-key-group-oscore doc, I ended up realising that many references to 6749 are not very helpful. So I went through all of them and I suggest the following changes to make the jump from this doc to 6749 easier for the readers.

(Also, please check that the sections I suggest are those you were thinking of; if they weren't, that should prove that it is not that easy to get the right pointer given the RFC only).

-----

Section 5.2 states:

> For details on the different grant types, see the OAuth 2.0 framework [RFC6749]. 

Ref section 1.3 of RFC6749

-----

Section 5.3:

The OAuth framework [RFC6749] defines one client credential type, client id and client secret.

Ref section 2.3.1. of RFC6749

-----

Section 5.5:

> Implementations should use the definition and recommendations of [RFC6749] and [RFC6819].

Ref 3.1. of 6749

-----

Section 5.6.1. states:

> The content of the request consists of the parameters specified in Section 4 of the OAuth 2.0 specification [RFC6749] with the exception of the "grant_type" parameter, which is OPTIONAL in the context of this framework (as opposed to REQUIRED in RFC6749).

I think referencing 4.1.3 would be better. Unless one is allowed to use more than just section 4.1.3. param, in which case I got it wrong and some more text is needed.

By the way, to this point, it would be useful to have a table like figure 8 for the request (C-to-AS).

-----

Section 5.6.1.

> The "scope" parameter can be formatted as specified in [RFC6749] and additionally as a byte string, in order to allow compact encoding of complex scopes.

Ref section 3.3 of 6749

------

Section 5.6.1.

> When HTTP is used as a transport then the client makes a request to the token endpoint by sending the parameters using the "application/x-www-form-urlencoded" format with a character encoding of UTF-8 in the HTTP request entity-body, as defined in RFC 6749.

add the link to the RFC + ref section 3.2.

--------

Section 5.6.4.2.

> The "token_type" parameter, defined in [RFC6749], allows the AS to indicate to the client which type of access token it is receiving (e.g., a bearer token).

Ref 4.2.2

---------

Section 5.7.3.

> If the credentials used by the requesting entity (usually the RS) are invalid the AS MUST respond with the response code equivalent to the CoAP code 4.01 (Unauthorized) and use the required and optional parameters from Section 5.2 in RFC 6749 [RFC6749].

Remove "RFC 6749"





> Section 5.6.1. states:
>
>   The content of the request consists of the parameters specified in Section 4 of the OAuth 2.0 
> specification [RFC6749] with the exception of the "grant_type" parameter, which is OPTIONAL in the > context of this framework (as opposed to REQUIRED in RFC6749).
>
> I think referencing 4.1.3 would be better. Unless one is allowed to use more than just section 4.1.3. 
> param, in which case I got it wrong and some more text is needed.
>

No 4.1.3 just refers to one grant type and we support more than just that one, the required and optional parameters depend on the grant type and thus we need to reference the whole of section 4 here. I will add more explanatory text though to make that clear.


> Section 5.6.4.2.
> 
>     The "token_type" parameter, defined in [RFC6749], allows the AS to indicate to the client which
> type of access token it is receiving (e.g., a bearer token).
> 
> Ref 4.2.2

I used section 5.1, which is independent of the grant type, although it would seem to me that RFC 6749 double-defines this parameter in both 4.2.2 for the Implicit Grant and generally for successful responses in 5.1.